
.contact{
    font-family: "Poppins";
    /* background-color: #2a2929; */
}

/* purple #ca49b4 */
/* blue #5662ea; */
.contact h2{
    font-weight: 700;
    font-size: 45px;
    text-align: start;
}

.custom-shape-divider-bottom-1707409779 {
    position: absolute;
    bottom: -30px;
    left: 0;
    opacity: 100%;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707409779 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
}

.custom-shape-divider-bottom-1707409779 .shape-fill {
    fill: #282727;
}
    