.social{
    position: absolute;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    /* display: ; */
    /* flex-direction: row; */
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #40404080;
    border-radius: 75% 5% 50% 80%;
    animation: float 6s ease-in-out infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background:#40404080;
    border-radius: 60% 45% 50% 80%;
    animation: float 5s ease-in-out infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    width: 100%;
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #40404080;
    border-radius: 60% 35% 45% 40%;
    animation: float 6s ease-in-out infinite;
    box-shadow: rgba(38, 50, 215, 0.37) 0px 2px 5px -1px, rgba(38, 50, 215, 0.37) 0px 1px 3px -1px;
    
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #40404080;
    border-radius: 35% 60% 45% 5%;
    animation: float 5s ease-in infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .linkedin {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
  }
  
  .card4:hover .linkedin {
    fill: white;
  }

  
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.main{
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  /* Styles for phones */
  .social{
    position: static;
    flex-direction: row;
  }
  .main{
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0px;
    margin-top: 30px;
  }

  .card1,.card2,.card3,.card4{
    width: 50px;
    height: 50px;
  }

}