.hero .heading {
    font-size: 100px;
    font-weight: 800;
    font-family: "Poppins";
    color: white;
}

/* purple #ca49b4 */
/* blue #5662ea; */

.gradtext {
    background-image: linear-gradient(to right,#ca49b4, #5662ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .greet {
    font-family: "Poppins";
    margin: 0px;
    font-size: 24px;
}

.hero .description {
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 50px;
}

.custom-shape-divider-bottom-1707313518 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707313518 svg {
    /* position: relative; */
    display: block;
    width: calc(100% + 1.3px);
    height: 99px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707313518 .shape-fill {
    fill: #2a2929;
}

.mybtn{
    border: 0.05px solid white;
    color: white;
    margin:10px;
    font-size: 15px;
    box-shadow: 0 8px 32px 0 #5662ea50;
    backdrop-filter: blur(7px);
    font-family: 'Poppins';
}

#btn1{
    background-color: #ca49b4;
    border: 0.05px solid white;
}

#btn2{
    background-color: black;
    -webkit-backdrop-filter: blur(7px);
}

#btn2:hover{
    border: 0.05px solid white;
    background-color:#5662ea;;
    transition: all 1s;
}


  
 
  @media only screen and (max-width: 768px) {
    /* Styles for phones */
    .mouse__follower {
display: none;
    }
    .mybtn{
      margin: 3px;
      font-size: 14px;
    }
    .hero .heading {
      font-size: 35px;
    }

    .hero {
      width: 100%;
      height: fit-content;
      margin-top: 50px;
    }

  }
  
 