.skills{
    font-family: "Poppins";
}

/* purple #ca49b4 */
/* blue #5662ea; */
.skills h2{
    font-weight: 700;
    font-size: 45px;
    text-align: start;
}

.mycard2 .box{
    background-color: #40404080;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    box-shadow: none;
}


.mycard {
    width: 300px;
    background-image: linear-gradient(163deg, #ca49b4 0%, #5662ea 100%);
    /* box-shadow: 0px 0px 30px 1px #ca49b450; */
    border-radius: 20px;
    transition: all .3s;
   }
   
   .mycard2 {
    width: 300px;
    background-color: #1a1a1a;
    border: 2px solid #ee8add9e;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    border-radius:10px;
    transition: all .2s;
   }
   
   .mycard2:hover {
    transform: scale(0.98);

    border-radius: 20px;
   }

   .mycard2:hover .box{
        background-color: #80808050;
        transition: all 2s;
   }
   
   .mycard{
    box-shadow: 0px 0px 30px 1px #ed94de25;
   }
   .mycard2{
    padding: 5px;
   }
   .box img{
    width: 50px;
   }
   .box{
    margin: 5px;
    padding: 2px;
   }
   @media only screen and (max-width: 768px) {
    /* Styles for phones */
    .skills h2{
        font-size: 30px;
    }

    .box{
        margin: 2px;
        /* margin-left: 2px; */
       }
    .box img{
        width: 35px;
    }
    .box p{
        font-size: 14px;
        font-weight: 300;
    }
    .skills{
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
    .skill_container{
        width: 98%;
        align-items: end;
    }

    .mycard{
        width: 45%;
    }
    .mycard2{
        width: 100%;
        padding: 0px;
    }
   }
