.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mouse__follower {
  background-color: rgb(97, 62, 222);
  width: 100px;
  height: 100px;
  filter: blur(70px);
  border-radius: 100%;
  position: absolute;
  transition: all ease 0.4s;
  z-index: -1;
}

.swipe-left {
  position: relative;
  animation: swipeLeft 1s ease ;
}

.menu {
  display: flex;
  justify-content: space-around; /* Adjust spacing around items */
  padding: 20px; /* Add padding to the menu container */
}

.menu-list {
  list-style: none;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.menu-item {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  font-family: "Poppins";
  width: 100%; /* Adjust spacing inside each item */
  background-color: inherit; /* Example background color */
  border-radius: 5px; /* Optional: add rounded corners */
  cursor: pointer; /* Optional: change cursor on hover */
}
.menu-item a{
  color: white;
  text-decoration: none;
}

@keyframes swipeLeft {
  0% {
    right: 400px;
  }
  100% {
    right: 0; /* Adjust this value according to your preference */
  }
}


#menu{
  width: 100wh;
  z-index: 100;
  height: 100vh;
  top: 0;
  display: none;
  right: 0;
  left: 0;
  background-color: rgba(8, 8, 8, 0.886);
  position: fixed;
}