.credits{
    border-top: 1px solid white;
}

.footer{
    background-color: #282727;
    font-family: "Poppins";
}

.footer h3{
    font-weight: 600;
    font-size: 35px;
}
.profile p{
    text-align: start;
}

.customflex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.customflex img{
    margin-right: 20px;

}

.f_social{
    display: flex;
    place-content: start;
}

@media only screen and (max-width: 768px) {
   
    .customflex img{
        margin-right:0px ;
        margin-bottom: 20px;
    }
    .customflex{
        flex-direction: column;
        align-items: center;
    }

    .customflex p{
        text-align: center;
    }
    /* Styles for phones */
    .footer h3{
        font-weight: 500;
        font-size: 20px;
    }

}


.c_details h4{
    font-weight: 600;
    font-size: 15px;
}


.hor{
    flex-direction: row;
}
@media only screen and (max-width: 1000px){
    .customflex{
        flex-direction: column;
    }
.hor{
    flex-direction: column;
}


    .customflex h3{
margin-top: 20px;
font-size:30px;
    }
    .f_social{
        display: flex;
        place-content: center;
    
    }

    .c_details{
        margin-top: 30px;
    }
    .c_details h3{
        font-size:25px;
    }
    .customflex p{
        text-align: center;
    }
    p{
        text-align: center;
    }
}



  .footer a {
    transition: 0.4s;
    color: white
  }
  
  #github:hover {
    color: #c9510c;
  }
  
  #instagram:hover {
    color: #d62976;
  }
  
  #facebook:hover {
    color: #3b5998;
  }
  
  #twitter:hover {
    color: #00acee;
  }